<div class="sidebar-padding">
  <img width="100%" style="padding-right:23px; padding-top:10px;"src="/assets/images/rat.jpg">
{{!-- {{#if showDiagram}} --}}
  {{!-- <div class="sidebar-padding">
    <img width="100%" style="padding-right:23px; padding-top:10px;"src="/assets/images/rat.jpg">
  </div> --}}
{{!-- {{else}} --}}
  <nav id="explore-nav" {{bind-attr class="showDiagram:hide-left:"}}>
    <ul>
      <li>
        {{#link-to 'explore.index'}}
          All
          <i class="fa fa-chevron-right pull-right"></i>
        {{/link-to}}
      </li>
    {{#each t in tissueList}}
      <li>
        {{#link-to 'explore.tissue' t}}
          {{t.name}}
          <i class="fa fa-chevron-right pull-right"></i>
        {{/link-to}}
      </li>
    {{/each}}
    </ul>
  </nav>
{{!-- {{/if}} --}}
</div>

<footer>
  <ul class="toggle-tabs dark">
    <li>
      <a {{action "toggleDisplay" on="click"}} {{bind-attr class="showDiagram:active"}}>
        <div>
          <i class="fa fa-lg fa-search"></i>
        </div>
        <div>
          Diagram
        </div>
      </a>
    </li>
    <li>

      <a {{action "toggleDisplay" on="click"}} {{bind-attr class="showDiagram::active"}}>
        <div>
          <i class="fa fa-lg fa-list"></i>
        </div>
        <div>
          List
        </div>
      </a>
    </li>
  </ul>
</footer>