<div id="explore-tissues" class="section scrollable-container">
  <div class="section-header section-brand-light content-pad">
    <h2>{{selectedTissueDisplay}}</h2>
  </div>
  <div class="explore-tissues-content scrollable-content">
    <div class="content-pad-2x">
      <div class="explore-tissues-graph">
        <div class="toggle-menu">
          <div class="pure-menu pure-menu-horizontal">
            <ul class="pure-menu-list">
              <li class="pure-menu-item">
                <a {{action "toggleDisplay" on="click"}} {{bind-attr class="showTissueWeightNorms:active :pure-menu-link"}} {{bind-attr disabled="isTissueWeightNormsDisabled"}}>
                  <i class="fa fa-fw fa-bar-chart"></i>Tissue Weight Norms
                </a>
              </li>
              <li class="pure-menu-item">
                <a {{action "toggleDisplay" on="click"}} {{bind-attr class="showTissueWeightNorms::active :pure-menu-link"}}>
                  <i class="fa fa-fw fa-area-chart "></i>Relative Concentration
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div {{bind-attr class="showTissueWeightNorms::hide :explore-tissues-graph-content"}}>
          {{#if showTissueWeightNorms}}
            <div {{bind-attr style="chartWidthStyle"}}>
              {{vertical-bar-chart data=tissueWeightNormData selectedSeedColor=seedColor.color}}
            </div>
          {{/if}}
        </div>
        <div {{bind-attr class="showTissueWeightNorms:hide :explore-tissues-graph-content"}}>
          {{#if showRelativeConcentrations}}
            {{relative-concentrations-chart data=averageRelativeConcentrationsChart.data 
            proteins=averageRelativeConcentrationsChart.proteins tissues=averageRelativeConcentrationsChart.tissues}}
          {{/if}}
        </div>
      </div>
      <div class="explore-tissues-list">
        <div class="section-header section-header-content">
          <h4>Proteins</h4>
        </div>
          {{protein-table routeName='explore.protein' proteins=proteins}}
        </div>
      </div>
    </div>
  </div>
</div>