{{partial 'atlas/header'}}

<div class="container-fluid">
  <div class="col-md-12">
    <div class="card" style="margin-top:100px; padding:5px;">

    <header>
      {{name}} - ({{formattedDate}})
    </header>
    <section>
      <table class="table table-striped">
        <thead>
          <tr>
            <td>PeptideSequence</td>
            <td>Gene</td>
            <td>MW</td>
            <td>Protein</td>
            <td>Functional</td>
            <td>Family</td>
            <td>Species</td>
            <td>Tissue</td>
            <td>TissueWeightNorm</td>
          </tr>
        </thead>
        <tbody>
          {{#each item in datasetItems}}
          <tr>
            <td>{{item.peptideSequence}}</td>
            <td>{{item.gene}}</td>
            <td>{{item.molecularWeight}}</td>
            <td>
              {{#link-to 'explore.protein' item.protein}}
                {{item.protein.proteinName}}
              {{/link-to}}
            </td>
            <td>{{item.functionalGroupName}}</td>
            <td>{{item.familyName}}</td>
            <td>{{item.species}}</td>
            <td>{{item.tissueName}}</td>
            <td>{{item.tissueWeightNorm}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </section>

    </div>
  </div>
</div>