<div id="protein-detail" class="section scrollable-container">
  <div class="fixed-top section-header section-brand-light content-pad">
    <h2></h2>
  </div>
  <div class="protein-detail-content scrollable-content">
    <div class="content-pad-2x copy-container">
      <section class="pure-g">
        <div class="pure-u-1">
          <h2>{{displayName}}</h2>
        </div>
      </section>
      <section class="pure-g">
        <div class="pure-u-1-5">
          <h3>About</h3>
        </div>
        <div class="pure-u-4-5">
          {{{externalReference.wikipediaSummary}}}
          <a href="{{unbound externalReference.wikipediaUrl}}"><em>From Wikipedia</em></a>
        </div>
      </section>
      <section class="pure-g">
        <div class="pure-u-1-5">
          <h3>Details</h3>
        </div>
        <div class="pure-u-3-5">
          <table class="table">
            <tbody>
              <tr>
                <th>Gene Name</th>
                <td>{{geneName}}</td>
              </tr>
              <tr>
                <th>Sequence</th>
                <td>{{sequence}}</td>
              </tr>
              <tr>
                <th>Family</th>
                <td>{{familyName}}</td>
              </tr>
              <tr>
                <th>Functional Group</th>
                <td>{{functionalGroupName}}</td>
              </tr>
              <tr>
                <th>Tissue Weight Norm </br><span class="text-muted">(All Tissues)<span></th>
                <td>{{averageTissueWeightNorms.all}}</td>
              </tr>
              <tr class="protein-detail-content-found-in">
                <th>Found In</th>
                <td>
                  {{#each t in tissues}}
                    {{#link-to 'explore.tissues.tissue' t class="table-link"}}
                      {{t.name}}
                    {{/link-to}}
                  {{/each}}
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>
</div>