<div id="search" class="section scrollable-container">
  <div class="fixed-top section-header section-brand-light content-pad">
    <h2></h2>
  </div>
  <div class="protein-detail-content scrollable-content">
    <div class="content-pad-2x copy-container">
      <section class="pure-g">
        <div class="pure-u-1">
          <h2>Search</h2>
        </div>
      </section>
      <section class="pure-g">
        <div class="pure-u-1">
          <form class="pure-form pure-form-stacked">
            <div class="pure-u-1-3">
              <label for="proteinName">Protein Name</label>
              {{input type=text class="form-control" id="proteinName" value=searchName}}
            </div>

            <div class="pure-u-1-3">
              <label for="skin" class="pure-checkbox">
                {{input id="skin" type="checkbox" checked=searchSkin}}
                Skin
              </label>


              <label for="bone" class="pure-checkbox">
                {{input id="bone" type="checkbox" checked=searchBone}}
                Bone
              </label>


              <label for="muscle" class="pure-checkbox">
                {{input id="muscle" type="checkbox" checked=searchMuscle}}
                Muscle
              </label>


              <label for="tendon" class="pure-checkbox">
                {{input id="tendon" type="checkbox" checked=searchTendon}}
                Tendon
              </label>
            </div>
          </form>
        </div>
      </section>
      <section class="pure-g">
        <div class="pure-u-1">
          <h2>Results</h2>
        </div>
      </section>
      <section class="pure-g">
        <div class="pure-u-1">
          <table class="pure-table pure-table-horizontal pure-table-striped table-full-width">
            <thead>
              <tr>
                <td>ProteinName</td>
                <td>Sequence</td>
                <td>Gene</td>
                <td>Family</td>
                <td>Functional Group</td>
              </tr>
            </thead>
            <tbody>
              {{#each protein in searchResults}}
              <tr>
                <td>
                  {{#link-to 'protein' protein}}
                    {{protein.proteinName}}
                  {{/link-to}}
                </td>
                <td>{{protein.sequence}}</td>
                <td>
                  {{#link-to 'protein' protein}}
                    {{protein.geneName}}
                  {{/link-to}}
                </td>
                <td>{{protein.familyName}}</td>
                <td>{{protein.functionalGroupName}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>
</div>