<span class="protein-item-link">
    {{#link-to 'protein' this}}
      {{proteinName}}
    {{/link-to}}
</span>
<span class="protein-item">
  {{sequence}}
</span>
<span class="protein-item">
  {{geneName}}
</span>  
<span class="protein-item">
  {{familyName}}
</span>
<span class="protein-item">
  {{functionalGroupName}}
</span>
